@model RMSAutoAPI.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Вход на сайт</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label>Email</label><br />
            @Html.EditorFor(x => x.Email)
        </p>
        <p>
            <label>Пароль</label><br />
            @Html.EditorFor(x => x.Password)
        </p>
        <p><button type="submit">Войти</button></p>
    </div>
}


<script type="text/javascript">
    var loginData = {
        grant_type: 'password',
        username: self.loginEmail(),
        password: self.loginPassword()
    };

    $.ajax({
        type: 'POST',
        url: 'http://localhost:52682/api/auth/token',
        data: loginData
    }).done(function (data) {
        self.user(data.userName);
        // Cache the access token in session storage.
        sessionStorage.setItem(tokenKey, data.access_token);
    }).fail(showError);
</script>