@using System.Web.Configuration;
@model RMSAutoAPI.Models.LoginModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/api.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
}

<div id="divForm">
    <div class="parent">
        <div class="window">
            <a href="#" data-dismiss="modal" class="chest">x</a>
            <div class="block">
                <h3>Вход на сайт </h3>

                <hr style="margin-top:-5px" />

                <h4>oauth2 (OAuth2, password)</h4>
                Для получения Токена необходимо вызвать POST-метод по адресу: <br />
                <b>@WebConfigurationManager.AppSettings["UrlApi"]/api/auth/token</b><br />
                передав три пары ключ/значение:<br />
                <ul>
                    <li>username=%USERNAME%</li>
                    <li>password=%PASSWORD%</li>
                    <li>grant_type=password</li>
                </ul>

                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                <p>
                    @Html.LabelFor(x => x.Email, new { @class = "control-label" }) <br />
                    @Html.EditorFor(x => x.Email, new { @class = "form-control" })
                </p>
                <p>
                    @Html.LabelFor(x => x.Password, new { @class = "control-label" }) <br />
                    @Html.EditorFor(x => x.Password, new { @class = "form-control" })
                    <span id="is-password-error" class="text-danger field-validation-error" data-valmsg-for="Email" data-valmsg-replace="true" style="display:none">
                        <span for="Email" class="">Неверный логин или пароль.</span>
                    </span>

                </p>
                <p>
                    <label>Партнер</label><br />
                    @{
                        List<SelectListItem> regions = new List<SelectListItem>();
                        if (ViewBag.Partners != null)
                        {
                            regions = @ViewBag.Partners;
                        }
                    }
                    @Html.DropDownListFor(model => model.Region, regions, "-- Выберите Регион --", new { @class = "form-control", style = "width: 192px;" })
                </p>

                <p><button id="button-auth" type="submit" class="btn btn-info">Войти</button></p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
</div>
<script type="text/javascript">
    var mainUrl = "@WebConfigurationManager.AppSettings["UrlApi"]";
    
    $("#button-auth").click(function () {
        url = mainUrl + "/Account/LoginAuth"
        var login = "";
        var email = document.getElementById("Email").value;
        var password = document.getElementById("Password").value;
        var region = document.getElementById("Region").value;
        if (email != "" && password != "") {
            $.ajax({
                url: url,
                method: "POST",
                crossDomain: true,
                data: {
                    'Email': email,
                    'Password': password,
                    'Region': region
                },
                cache: false,
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    document.getElementById('is-password-error').style.display = 'block';
                    return false;
                }
            });
        }
        else {
            document.getElementById('is-password-error').style.display = 'block';
        }
    });

    var email = document.getElementById("Email");
    var password = document.getElementById("Password");
    var region = document.getElementById("Region").value;
    password.oninput = function () {
        document.getElementById('is-password-error').style.display = 'none';
    };
    email.oninput = function () {
        document.getElementById('is-password-error').style.display = 'none';
    };
    region.oninput = function () {
        document.getElementById('is-password-error').style.display = 'none';
    };

    this.addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            document.getElementById("button-auth").click();
        }
    });

</script>
