@model List<RMSAutoAPI.Models.ApiMethod>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/api.css" rel="stylesheet" />

</head>
<body>


    <div class="wrapper">
        <td>@ViewBag.CurrentUser</td> <br /><br />
        @*<td>@ViewBag.Token</td> <br /><br />*@


        @*<div>
                <h2 class="title"> API.RMSAUTO </h2>
            </div>*@


        @*<div class="scheme-container">
                <section class="schemes wrapper block col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <label for="schemes">
                            <span class="schemes-title">Schemes</span>
                            <select><option value="http">http</option></select>
                        </label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <div class="auth-wrapper">
                            <button class="btn authorize unlocked pull-right" onclick="showPopup()">
                                <span>Authorize</span>

                            </button>
                        </div>
                    </div>
                </section>
            </div>*@


        <div class="opblock-tag-section">
            <div style="height: auto; border: none; margin: 0px; padding: 0px;">
                @foreach (var group in Model.GroupBy(x => x.Group))
                {

                    <h4 class="opblock-tag no-desc" id="operations-tag-Articles">
                        <a class="nostyle" href="#/@group.Key"><span>@group.Key</span></a>
                    </h4>
                    <hr style="margin-bottom:10px; margin-top:15px;" />
                    foreach (var item in Model.Where(x => x.Group.Equals(group.Key)))
                    {
                        <div class="opblock opblock-get" id="operations-Articles-Articles_GetBrands">
                            <a class="nostyle" href="#/@group.Key/@item.Name" data-bind="click:notify.bind(this,'@item.Name')">
                                <div class="opblock-summary opblock-summary-get">
                                    <span class="opblock-summary-method">@item.Type</span>
                                    <span class="opblock-summary-path">@item.Uri</span>
                                    <div class="opblock-summary-description">@item.Description</div>
                                </div>
                            </a>

                            <div id="@item.Name" style="height: auto; border: none; margin: 0px; padding: 0px; display:none;">
                                <div class="opblock-body">
                                    <div class="opblock-description-wrapper">
                                        <div class="opblock-description">
                                            @item.TitleDescription
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                        <div class="opblock-section-header">
                                            <div class="tab-header">
                                                <span class="opblock-title"><b>Parameters</b></span>
                                                <button class="btn try-out__btn pull-right">Try it out </button>
                                            </div>
                                        </div>
                                    </div>

                                    @*============PARAMETERS=============*@
                                    @foreach (var parameter in Model.Where(x => x.Name.Equals(item.Name)).GroupBy(x => x.Parameters))
                                    {
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                                <b>Name</b>
                                            </div>
                                            <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                                                <b>Description</b>
                                            </div>
                                        </div>
                                        <hr style="margin-top:5px; margin-bottom:10px" />
                                        foreach (var param in parameter.Key)
                                        {
                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                                    <b>@param.Name </b>
                                                    @if (param.isRequired == true)
                                                    {
                                                        <span class="required">&nbsp;*&nbsp;required</span>
                                                    }
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                                                    @param.Description
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                                    @param.Type
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                                    @if (param.Name != "analogues")
                                                    {
                                                        var id = item.Name + "_" + param.Name;
                                                        <input id="@id" type="text" class="" title="" value="" placeholder="@param.Description">
                                                    }
                                                    @if (param.Name == "analogues")
                                                    {
                                                        var id = item.Name + "_" + param.Name;
                                                        <select id="@id" class="">
                                                            <option value="">--</option>
                                                            <option value="true">true</option>
                                                            <option value="false">false</option>
                                                        </select>
                                                    }
                                                </div>

                                            </div>
                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                                    (@Enum.GetName(typeof(TypeParameter), param.TypeParameter))
                                                </div>
                                            </div>

                                            <div style="padding-top:20px"></div>
                                        }
                                    }
                                    @*onclick="executeMethod()"*@
                                    @*==============EXECUTE================*@
                                    <div class="execute-wrapper">
                                        <button class="btn execute opblock-control__btn" data-bind="click: @item.Name" style="width:100%">Execute</button>
                                    </div>
                                    @{
                                        var idLoader = @item.Name + "_loader";
                                    }
                                    <div id="@idLoader" class="loader" style="display:none">Loading...</div>
                                    @*<div id="loading-container" class="loading-container" style="display:none"><div class="loading"></div></div>*@

                                    @*===============RESPONSES===============*@
                                    <div class="opblock-section-header">
                                        <div class="tab-header">
                                            <h4 class="opblock-title">Responses</h4>
                                        </div>
                                    </div>


                                    @*  CURL *@
                                    <br />
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                            <span class="response-label"> Curl</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <pre class="example">
                                                @{ 
                                                    var idCurl = @item.Name + "_curl";
                                                }
                                            <div id="@idCurl" style="margin-top: -40px"></div>
                                                    
                                            </pre>
                                        </div>
                                    </div>
                                    @* ====================== *@


                                    @*  REQUEST URL *@
                                    <br />
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                            <span class="response-label"> Request URL</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <pre class="example" style="height:30px;">
                                                @{ 
                                                    var idRequestUrl = @item.Name + "_request-url";
                                                }
                                            <div class="request-url" id="@idRequestUrl" style="margin-top: -40px"></div>
                                                    
                                            </pre>
                                        </div>
                                    </div>
                                    @* ====================== *@



                                    <br />
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                            <span class="response-label"> Server response</span>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                            <b>Code</b>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                                            <b>Details</b>
                                        </div>
                                    </div>
                                    <hr style="margin-top:5px; margin-bottom:10px" />

                                    <div style="margin-top:20px"></div>


                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
                                        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

                                        </div>
                                        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                                            <pre class="example">
                                                    @*<strong class="pull-left" data-bind="text: firstName"></strong><br />*@
                                                @{ 
                                                    var idResp = @item.Name + "_resp";
                                                }
                                            
                                            <div id="@idResp" style="margin-top: -70px"></div>

                                            </pre>
                                        </div>
                                    </div>

                                    <div style="padding-bottom:20px"></div>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    </div>

    <ul data-bind="foreach: methods">
        <strong data-bind="text: Name"></strong>

    </ul>

    <script type="text/javascript">
        var jsonModel = @Html.Raw(Json.Encode(@Model));
        var token = @Html.Raw(Json.Encode(@ViewBag.Token));
    </script>


    <a class="openDialog" data-dialog-id="emailDialog"
       data-dialog-title="Contact Us" href="/Account/Index">PopUP</a>

    <div id="dialog1" title="Dialog Title" hidden="hidden">I'm a dialog</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/app.js"></script>


    @*<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>*@




    <script type="text/javascript">

        $.ajaxSetup({ cache: false });

        $(document).ready(function () {
            $(".openDialog").on("click", function (e) {
                e.preventDefault();

                $("#opener").click(function () {
                    $("#dialog1").dialog('open');
                });

                //$("<div></div>")
                //    //.addClass("dialog")
                //    //.attr("id", $(this).attr("data-dialog-id"))
                //    //.appendTo("body")
                //    .dialog({
                //        title: $(this).attr("data-dialog-title"),
                //        close: function () { $(this).remove() },
                //        modal: true
                //    })

                //    .load(this.href);
            });

            $(".close").on("click", function (e) {
                e.preventDefault();
                $(this).closest(".dialog").dialog("close");
            });
        });
    </script>



</body>
</html>
